@model IEnumerable<app_web_backend_Mediquei.Models.TratamentoSaudeDet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index - Disponível apenas enquanto os detalhes do tratamento não estão funcionando pela tela principal do tratamento</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TratamentoSaude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intervalo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EfeitoAdverso1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EfeitoAdverso2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EfeitoAdverso3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TratamentoSaude.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posologia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intervalo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfeitoAdverso1.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfeitoAdverso2.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfeitoAdverso3.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
