@model app_web_backend_Mediquei.Models.Cuidador

@{
    ViewData["Title"] = "Relatorio";
}

<h1>Cuidador: @Model.Nome </h1>

<div>
    <h4>Vigência dos Contratos</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Data Inicial
                </th>
                <th>
                    Data Final
                </th>
                <th>
                    Hora Entrada 1
                </th>
                <th>
                    Hora Saída 1
                </th>
                <th>
                    Hora Entrada 2
                </th>
                <th>
                    Hora Saída 2
                </th>
                <th>
                    Nome do Paciente
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContratoCuidador.OrderByDescending(c => c.DataInicial))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSaida1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSaida2)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nome)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="btn-info">Voltar</a>
</div>
